.color-title {
  background-color: rgb(116, 185, 212);
  color: rgb(250, 250, 250);
}

.btn-color {
  padding: 5px 10px;
  background-color: aquamarine;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.localStorage {
  cursor: pointer;
  color: rgb(255, 0, 64);
}
.localStorage:hover {
  color: blue;
}

.alert {
  border: 1px solid rgba(198, 83, 140, 0.88);
}
.alert:hover {
  font-weight: bold;
}
[dir=rtl] .alert {
  margin-left: 0;
  margin-right: 10px;
}

.pulse {
  animation-name: inline-ujlatcu;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes inline-ujlatcu {
  from {
    background-color: yellow;
  }
  to {
    background-color: red;
  }
}

.error, .error--serious {
  border: 1px #f00;
  background-color: #fdd;
}
.error--serious {
  border-width: 3px;
}

#main {
  position: relative;
  height: 70px;
}
#main .box01 {
  width: 50px;
  height: 50px;
  background-color: #c6538c;
  position: absolute;
  left: 40px;
  top: 0px;
}
#main .box02 {
  width: 50px;
  height: 50px;
  background-color: #536ec6;
  position: absolute;
  left: 30px;
  bottom: 0px;
}

.icon-40px {
  background-color: #c6538c;
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  background-color: #5381c6;
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  background-color: #53c675;
  font-size: 80px;
  height: 80px;
  width: 80px;
}

li:nth-child(3n+1) {
  background-color: #004080;
  color: #ff4f4f;
}

li:nth-child(3n+2) {
  background-color: #004d99;
  color: #ff9b9b;
}

li:nth-child(3n+3) {
  background-color: #0059b3;
  color: #ffe8e8;
}

/*# sourceMappingURL=style.css.map */
