.color-title {
    background-color: rgb(116, 185, 212);
    color: rgb(250, 250, 250);
}

.btn-color {
    padding: 5px 10px;
    background-color: aquamarine;
    color: #000;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.localStorage {
    cursor: pointer;
    color: rgb(255, 0, 64);

    &:hover {
        color: blue;
    }
}

$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

//  parent selector
.alert {
    // The parent selector can be used to add pseudo-classes to the outer
    border: 1px solid $border-dark;

    // selector.
    &:hover {
        font-weight: bold;
    }

    // It can also be used to style the outer selector in a certain context, such
    // as a body set to use a right-to-left language.
    [dir=rtl] & {
        margin-left: 0;
        margin-right: 10px;
    }

    // You can even use it as an argument to pseudo-class selectors.
    // :not(&) {
    //   opacity: 0.8;
    // }
}

@mixin inline-animation($duration) {
    $name: inline-#{unique-id()};

    @keyframes #{$name} {
        @content;
    }

    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: infinite;
}

.pulse {
    @include inline-animation(2s) {
        from {
            background-color: yellow
        }

        to {
            background-color: red
        }
    }
}

.error {
    border: 1px #f00;
    background-color: #fdd;

    &--serious {
        @extend .error;
        border-width: 3px;
    }
}


@mixin position($pos,$y,$x) {
    position: absolute;
    @if $pos == 'tl' {
        left: $x;
        top: $y;
    }@else if $pos == 'tr' {
        right: $x;
        top: $y;
    }@else if $pos == 'bl' {
        left: $x;
        bottom: $y;
    }@else if $pos == 'br' {
        right: $x;
        bottom: $y;
    }
}
#main {
    position: relative;
    height: 70px;
    .box01 {
        width: 50px;
        height: 50px;
        background-color: #c6538c;
        @include position('tl',0px,40px)
    }
    .box02 {    
        width: 50px;
        height: 50px;
        background-color: #536ec6;
        @include position('bl',0px,30px)
    }
}

$sizes: 
    #c6538c 40px, 
    #5381c6 50px, 
    #53c675 80px;
@each  $color , $size  in $sizes {
  .icon-#{$size} {
    background-color: $color;
    font-size: $size;
    height: $size;
    width: $size;
  }
}

$base-color: #036;
$text-color: rgb(255, 2, 2);
@for $i from 1 through 3 {
  li:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
    color: lighten($text-color, $i * 15%);
  }
}


